html, body{
    background-color: #f2f4f7; 
}

#bodyContainer {
  margin-left: auto;
  margin-right: auto;
  box-sizing:border-box;
  width: 60%;
}

/* Carousel section css */
#carousel {
  background-color: orange;
  height: 800px;
}

#theCarousel2 {


  max-width: fit-content;
}



