
/* Center content */
#bodyContainer,footer {
  margin-left: auto;
  margin-right: auto;
  box-sizing:border-box;
  width: 60%;
}

/* Carousel section */
#carousel {


}

#authorMonthContainer{
  display: flex;
}


#authorOfTheMonthImage {

  height: 300px;
  width: 300px;
}

#theCarousel2 {


}



