.deliveryOptionsContainer{

    margin: 5% 5%;

}

.deliveryOptions{

    display: flex;
    justify-content: start;
}

.deliveryOptions h6 {

    display: inline;
}

.deliveryOptionsTitle{


    margin-left: 7%;
}

.deliveryOptionsRadio {

    margin-right: 7%;
}

.advice{
    margin-left: 8%;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-right: 5%;

    border:1px solid;
    background-color:#e0e0e0;

    text-align: center;

}

.advice a {

    text-decoration: none;
    color: black;

    border: 1px solid;

    padding: 10px;
    background-color: yellow;
    border-radius:20px;
}

.advice a:hover{

    text-decoration: none;
    color:black;
}

.advice h4 {
    text-align: center;
    font-weight: bold;
}

.advice h5 {
    text-align: center;

    font-weight: normal;
}


.personalDetails{

    margin-left: 8%;
}

.deliveryAddress{

    margin-left: 8%;
}

.deliveryButtonsContainer{

    display: flex;
    justify-content: space-evenly;
}

.deliveryOptionsButton{
    width: 250px;
    height: 30px;

    border:1px solid;
    border-radius:20px;

    text-decoration: none;
    text-align: center;

    color: white;

    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);

}

.deliveryOptionsLink {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;


    width: 250px;
    height: 30px;

    border:1px solid;
    border-radius:20px;

    text-decoration: none;
    text-align: center;
    line-height: 28px;
   
    color: white;

    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);

  
}

.deliveryOptionsLink:hover{

    color:white;

    text-decoration: none;
}