
/*    footer*/
#footerContainer {
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.footerBlock {
  width: 33%;
  line-height: 2;
  text-align: justify;
  padding-left: 30px;
  padding-right: 30px;

}

.footerBlock .title{
  width: 45%;
  margin-left: 25%;
  background-color:yellow;
  border: 1px solid grey;
  border-radius: 25px;
  font-weight: bold;
  text-align: center;
}

.footerBlock ul {
  list-style-type: none;
}

#whoweare {

  padding-left: 20px;
  padding-right: 20px;

}
  
#helpfulLinks {
  text-align: center;
  
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
}

#helpfulLinks ul {
  text-align: start;
  padding-left: 25%;
  margin-top: 0;
}

#helpfulLinks a {
  text-decoration: none;
  color: black;
}

#socialLinks ul {
  display: flex;
  gap: 5%;
}
