
/********************/
/* LOGO BAR
/********************/

#logoContainer{
   padding-top: 5%;
   display: flex;
   justify-content: center;
   gap: 100px;
}

#bookaportaLogo{
   height:65px;
   width:250px;
}

#searchField {
   font-size: 16px;
}
   
#account-checkbox {
   bottom: 30px;
   height: 40px;
   background-color: white;
   border: none;
   border-bottom: 3px solid #2794ad;
   font-size: 14pt;
   height: 30px;
}

.myAccount p {
   font-family: "Georgia", serif;
   font-style: oblique;
   font-size: 12pt;
   border: none;
   bottom: 39px;
}
.myAccount-modal {
       top: 20px;
   }
   
#my-account-menu {
padding: 15px;
}

#login-modal {
   font-family: Helvetica, Arial, sans-serif;
   z-index: 10;
   height: auto;
   width: 200px;
   background-color: white;
   color: #2794ad;
   display: none;
   border-radius: 5px;
   border: 1px solid #cccccc;
   right: 120px;
   top: 120px;
   /* width: min-content; */        font-size: 14pt;
       text-decoration: none;
   box-shadow: 3px 3px 12px lightgrey;
}     
       
#searchButton {

 background-color: yellow;
 color: #ffd04d;
 background-image: url(https://www.hive.co.uk//Content/StoreFront/assets/CSS/images/search.png);
 /* to xeraki */
 background-repeat: no-repeat;
 background-position: center center;
 background-size: 18px;
 border-style: solid;
 border-width: 1px;
 border-color: #ffd04d;
 border-radius: 0 3px 3px 0;
 height: 40px;
 width: 30px;
}


.clickable {
height: 80px;
width: 80px;
right: 50px;
position: relative;
}

#basketIcon {
   margin-top:10%;
margin-left: 50px;
 color: #ffd04d;
 height: 90px;
 width: 70px;
}

#number {
 background-color: #ffd04d;
 color: #3a3a3a;
 padding-top: 3px;

 color: #fff;
 width: 20px;
 height: 20px;
 border-radius: 100%;
 padding-top: 1px;
 text-align: center;

 font-family: proxima-nova, arial, sans-serif;
}

/*********************/
/* Category MENU BAR
/*********************/

#categoryMenuContainer{
   margin-left: 15%;
   display: flex;
   justify-content: space-evenly;
   gap: 100px;
}

#bestSellersLink{

   color:black;
   text-decoration: none;
   
}

#bestSellersLink:hover{
   color:#2794ad;
}

.dropdown {
 position: relative;
 display: inline-block;
 
}
.dropbtn{
   font-size: large;
   font-weight: bold;
   width:8em;
}

.dropdown-content {
 display: none;
 position: absolute;
 text-align:center;
 width:300px;
 background-color: white;
 min-width: 200px;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
 z-index: 1;
 
}

/* Links inside the dropdown */
.dropdown-content a {
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
/*.dropdown:hover .dropbtn {background-color: #3e8e41;}*/