h3 {

    text-align: center;
    padding-bottom: 10px;

}

.login-error{

    color: red;
}

h3::before, h3::after {
    border-top: 1px solid #cbe8f0;
    content: '';
    display: table-cell;
    position: relative;
    top: 0.5em;
    width: 47%;
}
    
.login-area {
    padding: 0%;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    gap: 30px;
}

.login-area .title {

    margin-top: 30px;
    font-weight: bold;
}

.log-reg-box {
    border: 1px solid #2794ad;
    height: 450px;
    display: flex;
    flex-direction: column;
    
    flex: 1 1 400px;
    
    text-align: center;
    align-content: center;
    justify-content: space-between;
    flex-basis: 200px;
}

#loginItemBox{

    width: 38%;

}

.credentials {
    display: flex;
    flex-direction: column;
    gap: 50px;

    margin: 70px;
    height: 50px;

}
.credentials input {
    font-family: serif;
    font-size: 14pt;
    
}

#register-button {

    padding-bottom: 120px;
}

#registerText{

    padding: 2%;
}

.login-button input, 
#register-button  button {
    font-family: "Georgia", serif;
    margin-top: 40px;
    
    right: 30px;
    bottom: 40px;
    text-align: center; 
    width: 80px; 
    height: 40px; 
    background-color: #2794ad; 
    color: white; 
    cursor: pointer;
    border: 2px solid #2794ad; 
    border-radius: 3px;
}

.log-reg-box p {
    font-size: 16pt;
        
}


