.frontcover {
  height: 110%;
  max-height: 300px;
  width: 110%;
  max-width: 220px;
  margin-top: 10%;
}


.specificInfoTitle {
  display: inline;
  font-weight: bold;
}

.specificInfos {
  padding: 0;
  list-style-type: none;
}

.otherBooksCarousel img {

    margin-left: 4%;
    height: 300px;
    max-width: 220px;
    
  }
