

html,body{
    margin:0;
    background-color: #f2f4f7; 
}


#partWithLogo {
  /* background-color: cornsilk; */
  height: auto;
  margin-top:1%;
  margin-left: 13%;
  margin-right: 13%;
}

#bookLogo{
    height:110px;
    width:320px;
}



#searchText {
  position: relative;
  width: 300px;
  top: 25px;
  height: 40px;
  right: 50px;
}


#form {
  position: relative;
  top: 40px;
  right: 60px;
}


#searchButton {
  top: 25px;
  right: 0px;
  background-color: yellow;
  color: #ffd04d;
  background-image: url(https://www.hive.co.uk//Content/StoreFront/assets/CSS/images/search.png);
  /* to xeraki */
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 18px;
  border-style: solid;
  border-width: 1px;
  border-color: #ffd04d;
  border-radius: 0 3px 3px 0;
  display: flex;
  height: 40px;
  width: 30px;
  position: absolute;
}
#Login {
  position: relative;
  top: 45%;
}

#Myaccount {
    /*! display: flex; */
    /*! position: absolute; */
    /*! height: 50px; */
    margin-top: 40%;
}

#cart {
	position: relative;
	display: block;
	color: black;
	/*! top: 18px; */
	cursor: pointer;
	/* margin-left: 40px; */
	height: 80px;
	width: 80px;
	flex: 1 1 max-content;
	left: 30px;
	bottom: 20px;
        margin-top:30%;
}

#cart-img {
	background-image: url("basket.optimized.svg");
	background-size: 130px 110px;
	background-repeat: no-repeat;
	width: 130px;
	height: 110px;
	/*! top: 20px; */
	position: relative;
}

#cart-amount {        
    position: relative;
    top: 34px;
    left: 31px;
    width: min-content;
    z-index: 2;
}
        
#cart a {
	/*! bottom: 200px; */
        /*! left: 36px; */
	position: relative;
        text-decoration: none;
        color: black;
        display: block;
	width: 111px;
	height: 65px;
}   
    
.clickable {
 height: 80px;
 width: 80px;
 right: 50px;
 position: relative;
}

#basketIcon {
    margin-top:14%;
 margin-left: 50px;
  color: #ffd04d;
  height: 40px;
  width: 40px;
}

#number {
  background-color: #ffd04d;
  color: #3a3a3a;
  padding-top: 3px;
  position: absolute;

  color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  padding-top: 1px;
  text-align: center;
  left: 40px;

  top: 10%;
  font-family: proxima-nova, arial, sans-serif;
}

/*edw teleiwse to header*/

/*edw ksekinaei to hovermenu  kai to  text*/
/* The container <div> - needed to position the dropdown content */
.section{
    margin-top:0;
    height:auto;
}
.dropdown {
  position: relative;
  display: inline-block;
  
 }
 .dropbtn{
     width:8em;
 }

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  text-align:center;
  width:300px;
  background-color: #f1f1f1;
  min-width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {sbackground-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
/*.dropdown:hover .dropbtn {background-color: #3e8e41;}*/




/* inherit property, tha klhronomhsei to property tou section, tou parent element */
#freeHomeDelivery {
  height:inherit ;
  width: auto;
  /* me ton sunduasmo position absolute kai margin-right(right)=0, mou phgainei to element terma deksia */
  position: relative;
  
  
 
  border: solid 1px grey;
  background-color: aquamarine;
}

#freeHomeDeliveryText {
  margin: 0;
  position: absolute;
  font-size:1em ;
  left:30px;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Carousel section css */
#carousel {
  background-color: orange;
  height: 100px;
}

/* book of the month css */
#bookOfTheMonth {
  margin-top: 0;
  height: auto;
  margin:0 13%;
}

#bookMonthDiv {
  height: inherit;
 
}

/*  */
#monthBookImage {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 20%;
  height:280px;
  width:200px;
  justify-content: center;
  align-items: center;
}

#bookMonthColText {
  text-align: center;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: "Open Sans", Arial, sans-serif;

  font-size: 14px;
  line-height: 20px;
  -webkit-text-size-adjust: none;
}


/* author of the month css*/
#authorOfTheMonth {
  margin-top: ;
  height: auto;
  
  margin: 20px 20%;
}

#authorMonthDiv {
  height: inherit;
  
}

/*  */
#monthauthorImage {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-left: 5%;
  justify-content: center;
  align-items: center;
  width:200px;
  height:240px;
}

#authorMonthColText {
  text-align: center;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: "Open Sans", Arial, sans-serif;

  font-size: 14px;
  line-height: 20px;
  -webkit-text-size-adjust: none;
}

.monthAuthorBooksImages {
  height: 200px;
  width: 130px;
}

.monthAuthorBooksImages:nth-child(2){
    margin-left: 30%;
    
}




/* Readers choice -->Upcoming */
#ReadersChoice {
  height: 50px;
  margin: 0 15%;
}

.UpcomingText{
    margin-top:10px;
    
}

#verticalLine {
  border-left: solid grey;
  margin-left: 6px;
}

/* upcoming books */
#upcomingBooks {
  width:700px;
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 19%;
  
  
}

.img-responsive1{
    height: 200px;
    width:240px;
}

